body {
	margin: 0;
	padding: 5px;
	_text-align: center;
	background-color:#BBB;
	width: 800px;
}

p {
	position: relative;
	width: auto;
	float: left;
	margin: 3px 10px;
	padding: 4px;
	display: block;
	text-align: justify;
	line-height: 20px;
	text-indent: 10px;
	color: #000;
}

div#siteLock {
	background: transparent;
	margin: -5px auto 5px auto;
	text-align: center;
	padding: 0;
	position: relative;
	float: none
	height: auto;
	width: 768px;
	clear: all;
}

div {
	padding: 10px;
	margin: 0 auto 0 auto;
	text-align: justify;
	color: #000;
	font-family: arial, times, Times, georgia, serif;
	font-size: 12px;
	height: auto;
	background-color:#BBB;
}

div#block {
	width: auto;
	font-size: 12px;
	height: auto;
	position: relative;
	float: left;
	background-color:#BBB;
}

div#textos {
	padding: 8px;
	margin: 0 auto 0 auto;
	text-align: justify;
	color: #000;
	font-family: arial, times, Times, georgia, serif;
	font-size: 13px;
	height: auto;
	float: left;
	position: static;
	line-height: 20px;
	background-color:#BBB
}

div#header {
	position: static;
	width: auto;
	padding: 0;
	color:#000;
	background-color:#BBB;
}



/* SITE TITLE */

h2, h2 a {
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 24px;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-family: Helvetica, Serifa, sans-serif;
	padding: 32px;
	margin: 0;
	text-shadow: 0 5px 3px #CCC;
}

h2 span {
	color:#FFF;
	font-size: 12px;
	font-family: arial;
	font-variant: small-caps;
	letter-spacing: 2px;

	/* IE Instruction */
	_letter-spacing: -1px;
	_margin-left: -3px;

	text-align: right;
        text-shadow: 0 1px 5px #CCC;
}

h2:hover span {
	color:#CC1100;
	font-size: 12px;
	font-family: arial;
	font-variant: small-caps;
	letter-spacing: 2px;


	/* IE Instruction */
	_letter-spacing: -1px;
	_margin-left: -3px;

	text-align: right;
        text-shadow: 0 1px 2px #9D1309;
}
/* ARTICLE TITLES */

h1 {
	color:#000;
	font-family: Times;
	letter-spacing: -2px;
	font-size: 40px;
	line-height: 35px;
	padding: 2px;
	margin: 0;
	font-weight: 500;
	margin-left: 14px;
	margin-top: 10px;
	max-width: 245px;
	position: relative;
	text-align: left;
	font-weight: normal;
	text-shadow: 0 1px 5px #ADADAD;
	border-bottom: 1px solid #ADADAD;
}

h1 span {
	color:#000;
	font-size: 12px;
	font-family: arial;
	font-variant: small-caps;
	letter-spacing: 2px;

	/* IE Instruction */
	_letter-spacing: -1px;
	_margin-left: -3px;

	text-align: right;
	text-shadow: none;
}

h3, h3 a {
	padding: 8px;
	margin: 0 auto 0 auto;
	font-family: arial, times, Times, georgia, serif;
	color:#CC1100;
	font-size: 16px;
	letter-spacing: 1px;

	/* IE Instruction */
	_letter-spacing: -1px;
	_margin-left: -3px;

	text-align: left;
	text-shadow: none;
}

/* MENU */
	/* LISTS */

ul {
	width: auto;
	margin: 0;
	padding: 6px;
	position: relative;
	background-color:#CC1100;
	display: block;

	/* MENU FONT */
	font-family: Helvetica, Geneva, sans-serif;
	font-weight: 300;
	font-size: 12px;
	color:#FFF;
	text-align: center;
}

li {
	display: inline;
	margin: 0;
	list-style: none;
	padding: 6px;
}

li a:link, li a:visited
{
	padding: 10px 6px;
	color:#000;
	text-decoration: none;
	background: transparent;
}

li a:link:hover, li a:visited:hover
{
	color:#FFF;
}

li:hover, li.over {

	color: #000;
	text-shadow: 0 1px 2px #CCC;
}

div#textos a:link, div#textos a:visited
{
	color:#FFF;
	border-bottom: 1px dotted #5E952C;
	background-color: #000;
	cursor: move;
	text-decoration: none;
	padding: 2px;
}

div#textos a:link:hover
{
	color:#FFF;
	background-color:#000;
	text-decoration: none;
	padding: 2px;
}

/* IMAGES */
img.left {
	float: left;
	position: relative;
	margin: 5px 5px 0 0;
	padding: 3px;
	background-color:#000;
	border: 1px solid #DFF5D7;
}

img.right {
	float: right;
	position: relative;
	margin: 5px 0 0 5px;
	padding: 3px;
	background-color:#000;
	border: 1px solid #A6DF8F;
}

img:hover, img.over {
	background-color:#000
	border: 1px solid #7ACC59;
}